*~
dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
.HTF/
test/quorum/contracts/address1
test/quorum/contracts/address2
test/quorum/contracts/address3
test/quorum/contracts/privateAddress1
test/quorum/contracts/privateAddress2
test/quorum/contracts/privateAddress5
*/node_modules/
.DS_STORE
node_modules/
test/geth/error.log
test/geth/datadirs/
